.button-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.button-container button{
    height: 5rem;
    width: 20rem;
    margin: 0 .8rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    border: none;
    border-radius: 2px;
    background-color: var(--primary);
    color: var(--text);
}

.buttons-cycle button:nth-child(1){
    width: 19rem;
}
.buttons-cycle button:nth-child(2){
    width: 6rem;
}