.pomodoroContainer {
  display: flex;
  position: relative;
  width: 100%;
}
.pomodoroContainer img {
  width: 80%;
  margin: 0 auto;
}
.pomodoroContainer .clock,
.clockCycle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 46%;
  left: calc(50% - 10rem);
  width: 20rem;
}
.clock-dots,
.clockCycle div:nth-child(2) {
  font-size: 4rem;
  font-weight: bolder;
  margin: 0 0.8rem;
}
.clock-minutes,
.clock-seconds,
.clockCycle div:nth-child(1),
.clockCycle div:nth-child(3)
 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  font-size: 4rem;
  font-weight: bolder;
  background-color: var(--secundary-tomato);
}
